// greyscale
$greyscale1: #000;
$greyscale2: #000;
$greyscale3: #000;
$greyscale4: #ededed;
$greyscale5: #000;
$disable: #000;
$greyscale6: #000;
$secondary: #b2b2b2;
$greyscale7: #919191;
$placeholder: #919191;
$greyscale8: #707070;
$caption: #707070;
$greyscale9: #212121;
$primary: #212121;

$black: #000; //메인 글자 
$cream1: #fffdf1;
$cream2: #f4f1e2;
$cream3: #e1decd;
$cream4: #c6c3ae;
$cream5: #ada992;

$background: #fff;
// size
$max-size: 768px;
